/docs/docsite/rst/community/collection_contributors/collection_requirements.rst @ansible/steering-committee
/docs/docsite/rst/community/steering/* @ansible/steering-committee
/docs/docsite/rst/roadmap/COLLECTIONS_*.rst @ansible/steering-committee
# DCO and COPYING need approval from the Red Hat open-source legal team
/DCO @ansible/community-docs-maintainers
/COPYING @ansible/community-docs-maintainers
