---
extends: default

ignore:
  - /lib/ansible/

rules:
  line-length: disable
    # max: 160
    # level: warning
  document-start: disable
  document-end: disable
  truthy:
    level: warning
    allowed-values:
      - 'true'
      - 'false'
      - 'True'
      - 'False'
      - 'TRUE'
      - 'FALSE'
      - 'yes'
      - 'no'
      - 'Yes'
      - 'No'
      - 'YES'
      - 'NO'
  indentation: disable
    # level: warning
    # spaces: 2
    # indent-sequences: consistent
  key-duplicates: disable
    # level: warning
    # forbid-duplicated-merge-keys: true
  trailing-spaces: enable
  hyphens: disable
    # max-spaces-after: 1
    # level: warning
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0
    level: warning
  commas: disable
    # max-spaces-before: 0
    # min-spaces-after: 1
    # max-spaces-after: 1
    # level: warning
  colons: disable
    # max-spaces-before: 0
    # max-spaces-after: 1
    # level: warning
  brackets: disable
    # min-spaces-inside: 0
    # max-spaces-inside: 0
    # level: warning
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
    level: warning
  octal-values: disable
    # forbid-implicit-octal: true
    # forbid-explicit-octal: true
    # level: warning
  comments: disable
    # min-spaces-from-content: 1
    # level: warning
  comments-indentation: disable
