# This requirements file is used for doc builds

-c constraints.in # <-- contains known limitations

# Base set of dependencies.

antsibull-docs
sphinx
sphinx-intl # translation utility used by docs/docsite/Makefile
sphinx-notfound-page # extension used for the custom 404 page (cowsay)
sphinx-ansible-theme # extension used for the custom docs theme
sphinx-reredirects # extension to create redirects for moved pages
sphinx-rtd-theme
rstcheck
yamllint
sphinx-copybutton
jinja2 # used by hacking/build_library/build_ansible/command_plugins/generate_man.py and dump_keywords.py
pyyaml # used by ansible-core
resolvelib # used by ansible-core
cryptography # used by ansible-core
packaging # used by ansible-core
