# This requirements file contains no pins on antsibull-docs and other
# essential tools
# It's used for testing purposes and devel branch builds on docs.ansible.com.

-c constraints-base.in

jinja2 >= 3.0.0 # used by hacking/build_library/build_ansible/command_plugins/generate_man.py and dump_keywords.py
pyyaml >= 5.1 # used by ansible-core
resolvelib >= 0.5.3, < 1.1.0 # used by ansible-core
sphinx
sphinx-intl # translation utility used by docs/docsite/Makefile
sphinx-notfound-page
sphinx-ansible-theme
rstcheck
antsibull-docs ~= 2.0
