# This requirements file is used for stable ansible docs builds
# It depends on specific, tested antsibull-docs and sphinx versions

-c constraints.in # <-- contains known limitations
-r requirements-relaxed.in # <-- contains base set of dependencies
