# pip packages required to build the documentation.
# These requirements are as loosely defined as possible.
# For known good versions of doc build dependencies use the following command:
# pip install --user -r tests/requirements.in -c tests/requirements.txt

antsibull-docs >= 2.0.0, < 3.0.0
docutils
jinja2
pygments >= 2.10.0
pyyaml
rstcheck
sphinx-notfound-page >= 0.6
sphinx-intl
sphinx-ansible-theme >= 0.10.2
sphinx
resolvelib
