---
name: nox

"on":
  workflow_call:

jobs:
  nox:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - session: static
            python-versions: "3.11"
          - session: formatters_check
            python-versions: "3.11"
          - session: typing
            python-versions: "3.11"
          - session: spelling
            python-versions: "3.11"
          - session: "checkers(rstcheck)"
            python-versions: "3.11"
          - session: "checkers(docs-build)"
            python-versions: "3.11"
    name: "Run nox ${{ matrix.session }} session"
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Setup nox
        uses: wntrblm/nox@2024.04.15
        with:
          python-versions: "${{ matrix.python-versions }}"
      - name: Graft ansible-core
        run: |
          nox -e clone-core
      - name: "Run nox -e ${{ matrix.session }}"
        run: |
          nox -e "${{ matrix.session }}"
